<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX - Demo</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.7.0/htmx.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <h1>HTMX - Demo</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h3>Siting List:</h3>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <table class="table" hx-get="{% url 'siting:sitings_list' %}" hx-target="#sitings_list"
                    hx-trigger="load">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Animal</th>
                            <th scope="col">Breed</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="sitings_list">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <button type="button" class="btn btn-primary btn-lg" hx-trigger="click" hx-get="{% url 'siting:animals_list' %}" hx-target="#animalsList">New</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <form method="post" action="{% url 'siting:sitings_list' %}">
                    <div id="animalsList"></div>
                    <div id="breedsList"></div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>