<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX - Demo</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <h1>HTMX - Demo</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h3>Siting List:</h3>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Animal</th>
                            <th scope="col">Breed</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button class="btn btn-sm btn-danger" type="button">DELETE</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>